.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  place-items: center;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-foreground);
  border-radius: 5px;
  width: 500px;
  max-height: 80%;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: solid 1px var(--color-border-default);
}
.title {
  font-weight: bold;
}
.body {
  padding: 15px 30px;
  overflow-y: scroll;
}
