.tracks {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  & > li {
    list-style-type: none;
  }
  & label {
    user-select: none;
  }
}
.tracks label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-size-control);
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.settingsParam {
  display: grid;
  grid-template-columns: 120px 1fr;
  justify-items: start;
}

.inputSlider {
  width: 100%;
}