.App {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100dvh;
}
.App > *:last-child {
  min-height: 0;
}
.body {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 400px 250px;
  gap: 2px;
}
.body > * {
  overflow-y: scroll;
}
.pane {
  padding: 15px 30px;
  background-color: var(--color-bg-foreground);
}
.files {
  display: flex;
  gap: 20px;
}