.App {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100dvh;
}
.App > *:last-child {
  min-height: 0;
}
.body {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 350px 350px;
  gap: 2px;
}
.body > * {
  overflow-y: scroll;
}
.pane {
  padding: 15px 20px;
  background-color: var(--color-bg-foreground);
}
.rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.files {
  display: flex;
  gap: 30px;
}