.input {
  border: solid 1px var(--color-border-default);
  cursor: pointer;
  padding: 0;
}
.input::file-selector-button {
  color: inherit;
  background-color: var(--color-bg-button);
  border: none;
  border-right: solid 1px var(--color-border-default);
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  pointer-events: none;
  margin-inline-end: 10px;
}
