:root {
  --color-bg-background: #000;
  --color-bg-foreground: #222229;
  --color-bg-input: #1c1c1f;
  --color-bg-button: #29292f;
  --color-border-default: #444;
  --color-accent: #0a9;
  --color-text: #ddd;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--color-bg-background);
  color: var(--color-text);
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
}
input[type="checkbox"] {
  accent-color: var(--color-accent);
}
input[type="number"] {
  color: inherit;
  background-color: var(--color-bg-input);
  border: solid 1px var(--color-border-default);
  outline: none;
  padding: 5px 10px;
  appearance: none;
}
button,
.button {
  color: inherit;
  background-color: var(--color-bg-button);
  border: solid 1px var(--color-border-default);
  outline: none;
  padding: 5px 10px;
  appearance: none;
  cursor: pointer;
}
.select {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.select > select {
  background-color: var(--color-bg-input);
  color: inherit;
  border: solid 1px var(--color-border-default);
  outline: none;
  appearance: none;
  cursor: pointer;
  padding: 5px 25px 5px 10px;
}
.select > svg {
  position: absolute;
  right: 3px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

#root {
  width: 100%;
  height: 100%;
}
